/* RBB edits
https://css-tricks.com/almanac/properties/a/animation/
https://webdesignerhut.com/5-animations-using-css-keyframes/
*/

* {
	font-family: 'VT323', monospace;
	box-sizing: border-box; /* per Gridley */
}

body {
	animation: pulse 20s infinite;
}
	/* writing this here a good 'directory' of gen.GRID areas? */
	.toppy .grid-wrapper,
	.middly .grid-wrapper,
	.altness .grid-wrapper,
	footer .grid-wrapper,
	/*.shorthand > div*/
	.shorthand .toppy,
	.shorthand .middly,
	.shorthand .altness,
	.shorthand .footie {
		display: grid;
	}
	.toppy .grid-wrapper {
		grid-area: header;

	}
	.toppy .grid-wrapper > div {
		outline: 5px dotted red;

	}
	.middly .grid-wrapper {
		grid-area: main;

	}
	.middly .grid-wrapper > div {
		outline: 5px dashed green;

	}
	.altness .grid-wrapper {
		grid-area: sidebar;

	}
	.altness .grid-wrapper > div {
		outline: 5px solid orange;

	}
	footer .grid-wrapper {
		grid-area: footer;

	}
	footer .grid-wrapper > div {
		outline: 5px dotted blue;

	}
	/* SHORTHAND */
	.shorthand {

	}
	.shorthand > div {
		grid-template-columns: 20% 20% 20% 1fr; /* markup has to follow this quantity pattern too , 3em 3em 2em 1fr */
		grid-template-rows: auto;
		grid-template-areas: 
			"shortHead shortHead shortHead shortFoot"
			"shortMid shortMid . shortMid"
			"shortMid . . shortAlt"
			"shortFoot . shortFoot shortHead"
		;
	}
	.shorthand div {

		outline: 2px dotted white;
	}
	.shorthand .toppy {
		grid-area: shortHead;

		background-color: #9B59B6;
		

	}
	.shorthand .middly {
		grid-area: shortMid;

		background-color: #F22613;
	}
	.shorthand .altness {
		grid-area: shortAlt;

		background-color: #16A085;
	}
	.shorthand .footie {
		grid-area: shortFoot;

		background-color: #6C7A89;
	}

/* NOO GRIDLEY 
filter: blur(.25em);
background: url('../../assets/images/7723989224_5301129410_b.jpg') no-repeat -79px -144px;

https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* mobile & tab.portrait */
@media (max-width: 767px) { 

	.toppy .grid-wrapper {
		grid-template-columns: 3em auto 3em; /* repeat(3, 1fr) */
		grid-template-rows: 25%; /* 25% 8em auto */
		grid-gap: .5em;

	}
		.toppy .grid-wrapper .four {
			visibility: hidden;
		}
	.middly .grid-wrapper {
		

	}
	footer .grid-wrapper {
		grid-template-columns: 2em auto 2em;
		grid-template-rows: auto;
	}
		.lowers .grid-wrapper .one,
		.lowers .grid-wrapper .three {
			visibility: hidden;
	}
}

/* tab.lando & desktop */
@media (min-width: 768px) {
	.toppy .grid-wrapper {
		grid-template-columns: 2em 5em auto 5em 2em; /* repeat(3, 1fr) */
		grid-template-rows: 15% 6.5em auto;
		grid-gap: 1em;

	}
	.middly .grid-wrapper {
		grid-template-columns: auto 10em 10em auto;
		grid-template-rows: 25% 5em; /* this don't work: repeat */
		grid-gap: 2em;

	}
	.altness .grid-wrapper {
		grid-template-columns: repeat(3, 30% [col-start]);
		/*grid-template-columns: 1fr 50px 1fr 1fr;*/
		grid-gap: 2em;

	}
	footer .grid-wrapper {
		grid-template-columns: 5em auto 5em;
		grid-template-rows: auto;
	}

}


/* animashuns */
@keyframes pulse {
	0% {
		background-color: blue;
	}
	50% {
		background-color: yellow;
	}
	100% {
		background-color: blue;
	}
}

@keyframes stretch {
	0% {
		transform: scale(.3);
		border-radius: 100%
	}
	50% {
		/*outline: 5px dotted red;*/
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes corn {
	0% {
		border-bottom-right-radius: .15em;
	}
	50% {
		border-bottom-right-radius: 1em;
	}
	100% {
		border-bottom-right-radius: .15em;
	}
}

/* 

.one {

}
.two { 
	
}
.three {
	
}
.four {
	
}
.five {
	
}
.six {
	
}

FROM PREV.GRIDLEY
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);

	max-width: 940px;
	margin: 0 auto;

	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
.grid-wrapper > div {
	border: 2px solid MediumSeaGreen;
	border-radius: 5px;
	background-color: rgba(233,171,88,.25);
	padding: 1em;
	color: Brown;
}
.one {
	grid-column: 1 / 3;
	grid-row: 1;
}
.two { 
	grid-column: 2 / 4;
	grid-row: 1 / 3;
	filter: blur(.25em);
}
.three {
	grid-row: 2 / 5;
	grid-column: 1;
	background: url('../../assets/images/7723989224_5301129410_b.jpg') no-repeat -79px -144px;
	overflow: hidden;
}
.four {
	grid-column: 3;
	grid-row: 3;
}
.five {
	grid-column: 2;
	grid-row: 4;
}
.six {
	grid-column: 3;
	grid-row: 4;
}
 */

/*
.legubrious {
	width: 2em;
	height: 2em;
	margin: 0 auto;
	outline: 2px solid orange;

	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;

		You could also just list the attributes, e.g.:

		animation:
		stretch
		1.5s
		0s
		alternate
		infinite
		none
		running;
}

button.oink {
	display: block;
	margin: 0 auto;
}

.kevin-spacey {
	2px dashed orange;
}
