 RBB edits
https://css-tricks.com/almanac/properties/a/animation/
https://webdesignerhut.com/5-animations-using-css-keyframes/
*/

* {
	font-family: 'VT323', monospace;
	box-sizing: border-box; /* per Gridley */
}

body {
	animation: pulse 20s infinite;
}

	/* SHORTHAND */
	/*.shorthand > div,*/
	.shorthand {
		display: grid;
		grid-template-columns: 20% 20% 20% 1fr; /* markup has to follow this quantity pattern too , 3em 3em 2em 1fr */
		grid-template-rows: auto;
		grid-template-areas: 
			"header header header header"
			"main main . nav"
			"footer footer footer footer";
/*			"header header header header"
			"main main . nav"
			"footer footer footer footer";*/
/*			"header header header footer"
			"main main . main"
			"main . . nav"
			"footer . footer header";*/
	}
		/*.shorthand > div,*/
		.shorthand div {

			outline: 2px dotted white;
		}
		.shorthand .don-hedley {/*.toppy*/
			grid-area: header;

			background-color: #9B59B6; /* purp */
		}
		.shorthand .navel {/*.middly*/
			grid-area: nav;

			background-color: #F22613; /* red */
		}
		.shorthand .chow-mein {/*.altness*/
			grid-area: main;

			background-color: #16A085; /* green */
		}
		.shorthand .footie {/*.footie*/
			grid-area: footer;

			background-color: #6C7A89; /* grey */
		}

/* NOO GRIDLEY 
filter: blur(.25em);
background: url('../../assets/images/7723989224_5301129410_b.jpg') no-repeat -79px -144px;

https://css-tricks.com/snippets/css/complete-guide-grid/
*/

/* mobile & tab.portrait */
@media (max-width: 767px) { 

	.toppy .grid-wrapper {
		grid-template-columns: 3em auto 3em; /* repeat(3, 1fr) */
		grid-template-rows: 25%; /* 25% 8em auto */
		grid-gap: .5em;

	}
		.toppy .grid-wrapper .four {
			visibility: hidden;
		}
	.middly .grid-wrapper {
		

	}
	footer .grid-wrapper {
		grid-template-columns: 2em auto 2em;
		grid-template-rows: auto;
	}
		.lowers .grid-wrapper .one,
		.lowers .grid-wrapper .three {
			visibility: hidden;
	}
}

/* tab.lando & desktop */
@media (min-width: 768px) {
	.toppy .grid-wrapper {
		grid-template-columns: 2em 5em auto 5em 2em; /* repeat(3, 1fr) */
		grid-template-rows: 15% 6.5em auto;
		grid-gap: 1em;

	}
	.middly .grid-wrapper {
		grid-template-columns: auto 10em 10em auto;
		grid-template-rows: 25% 5em; /* this don't work: repeat */
		grid-gap: 2em;

	}
	.altness .grid-wrapper {
		grid-template-columns: repeat(3, 30% [col-start]);
		/*grid-template-columns: 1fr 50px 1fr 1fr;*/
		grid-gap: 2em;

	}
	footer .grid-wrapper {
		grid-template-columns: 5em auto 5em;
		grid-template-rows: auto;
	}

}

/* animashuns */
@keyframes pulse {
	0% {
		background-color: blue;
	}
	50% {
		background-color: yellow;
	}
	100% {
		background-color: blue;
	}
}

@keyframes stretch {
	0% {
		transform: scale(.3);
		border-radius: 100%
	}
	50% {
		/*outline: 5px dotted red;*/
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes corn {
	0% {
		border-bottom-right-radius: .15em;
	}
	50% {
		border-bottom-right-radius: 1em;
	}
	100% {
		border-bottom-right-radius: .15em;
	}
}

/* 

"header header header footer"
"main main . main"
"main . . nav";
"footer . footer header";

"header header header header"
"main main . sidebar"
"footer footer footer footer";

"shortHead shortHead shortHead shortFoot"
"shortMid shortMid . shortMid"
"shortMid . . shortAlt"
"shortFoot . shortFoot shortHead";

"shortHead shortHead shortHead shortFoot"
"shortMid shortMid . shortMid"
"shortMid . . shortAlt"
"shortFoot . shortFoot shortHead";

.one {

}
.two { 
	
}
.three {
	
}
.four {
	
}
.five {
	
}
.six {
	
}

