/* RBB edits

https://css-tricks.com/almanac/properties/a/animation/
https://webdesignerhut.com/5-animations-using-css-keyframes/

*/

* {
	font-family: 'VT323', monospace;
	box-sizing: border-box; /* per Gridley */
}

body {
	animation: pulse 5s infinite;
}

.toppy {
	outline: 5px dotted red;
	margin: 1em;
}

.middly {
	outline: 5px dotted blue;
	margin: 1em;
}

.lowers {
	outline: 5px dotted green;
	margin: 1em;
}

button.oink {
	display: block;
	margin: 0 auto;
}

.kevin-spacey { /* why non-breakers? */
	2px dashed orange;
}

/* FROM GRIDLEY */
.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);

	max-width: 940px;
	margin: 0 auto;

	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}
.grid-wrapper > div {
	border: 2px solid MediumSeaGreen;
	border-radius: 5px;
	background-color: rgba(233,171,88,.25);
	padding: 1em;
	color: Brown;
}
.one {
	grid-column: 1 / 3;
	grid-row: 1;
}
.two { 
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}
.three {
	grid-row: 2 / 5;
	grid-column: 1;
	background: url('../../assets/images/7723989224_5301129410_b.jpg') no-repeat -79px -144px;
	overflow: hidden;
}
.four {
	grid-column: 3;
	grid-row: 3;
}
.five {
	grid-column: 2;
	grid-row: 4;
}
.six {
	grid-column: 3;
	grid-row: 4;
}

/* animashuns */

@keyframes pulse {
	0% {
		background-color: blue;
	}
	50% {
		background-color: yellow;
	}
	100% {
		background-color: blue;
	}
}

@keyframes stretch {
	0% {
		transform: scale(.3);
		border-radius: 100%
	}
	50% {
		/*outline: 5px dotted red;*/
	}
	100% {
		transform: scale(1.5);
	}
}

@keyframes corn {
	0% {
		border-bottom-right-radius: .15em;
	}
	50% {
		border-bottom-right-radius: 1em;
	}
	100% {
		border-bottom-right-radius: .15em;
	}
}

.legubrious {
	width: 2em;
	height: 2em;
	margin: 0 auto;
	outline: 2px solid orange;

	animation-name: stretch;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-delay: 0s;
	animation-direction: alternate; /* ?!? */
	animation-iteration-count: infinite;
	animation-fill-mode: none; /* ?!? */
	animation-play-state: running; /* ?!? */
	/*
		You could also just list the attributes, e.g.:

		animation:
		stretch
		1.5s
		0s
		alternate
		infinite
		none
		running;
	*/
}


/* mobile &amp; tab.portrait */
@media (max-width: 767px) { 
	
}

/* tab.lando &amp; desktop */
@media (min-width: 768px) {

}